gensim==3.6.0
ipython==7.1.1
jupyter==1.0.0
Keras==2.2.4
matplotlib==3.0.1
nltk==3.3
numpy==1.15.3
pandas==0.23.4
scikit-learn==0.20.0
scipy==1.1.0
tensorflow==1.11.0
Theano==1.0.3
torch==0.4.1
torchvision==0.2.1
